
@media screen and (min-width: 480px) {
    .container {
      width: 480px;
    }
    .container-footer{
        width: 480px;
    }
    .container-portfolio{
        width: 480px;
    }
    .logo{
      padding-top: 16px;
    }
    .social-media{
      gap: 0;
  }
    .modal {
      width: 95%;
    }
  }