
@media screen and (min-width: 480px) {
    .container {
      width: 480px;
    }
    .container-footer{
        width: 480px;
    }
    .container-portfolio{
        width: 480px;
    }
    .modal {
      width: 95%;
    }
  }