

@media screen and (min-width: 768px) {
  body {
    padding-top: 80px;
  }
    .container {
      width: 768px;
    }
    .site-nav{
      display: flex;
      margin-left: 88px;
  }
  
  .header{
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-white-color);
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #eeeeee;
    z-index: 1;
}
  .contact{
    display: block;
    margin-left: auto;
    font-size: 12px;
    line-height: 1.67;
    font-weight: 500;
}

  .menu-open{
    display: none;
  }
  .mob-menu{
    display: none;
  }
  
  .overlay{
    max-width: 768px;
    height: 600px;
    background-image: linear-gradient( 
        to right,
         rgba(47, 48, 58, 0.4), 
         rgba(47, 48, 58, 0.4)), 
         url(../images/Imgpfone.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient( 
        to right,
         rgba(47, 48, 58, 0.4), 
         rgba(47, 48, 58, 0.4)), 
         url(../images/Header-tab-2x.jpg);
    }
  }
    .title-items{
        width: calc((100% - 30px) / 2);
    }
    .title-items:nth-child(2n) {
        margin-left: 30px;
    }
    .title-items:nth-child(n + 2) {
        margin-bottom: 0;
      }
    .futures .title{
        text-align: left;
      }
    .item-clients{
        width: calc((100% - 30px) / 3);
    }
    .item-clients{
        width: 226px;
        margin-left: 30px;
    }
    .item-clients:nth-child(3n + 1){
        margin-left: 0;
    }
    .item-clients:nth-child(n + 3) {
        margin-bottom: 0;
      }
    .side-container{
        width: 768px; 
      }
    .button{
      flex-wrap: nowrap;
      width: 100%;
      justify-content: center;
    }
    .flex-title{
        width: calc((100% - 30px) / 2);
    }
    .flex-title:nth-last-child(2) {
        margin-bottom: 0;
      }
    .flex-title:nth-child(2n) {
        margin-left: 30px;
    }
    .container-portfolio{
        width: 768px;
    }
    .flex-section{
        width: calc((100% - 30px) / 2);
    }
    .flex-section:nth-child(2n) {
        margin-left: 30px;
      }
    .flex-section:nth-child(2){
        margin-top: 0;
    }
    .container-footer{
        width: 768px;
    }
    .socials{
      margin-left: 165px;
    }
    .footer-thumb{
      display: flex;
      align-items: baseline;
      margin-left: auto;
      margin-right: auto;
      padding-left: 61px;

    }
    .form-subscription input{
      width: 450px;
    }
    .modal {
      width: 450px;
      height: auto;
  }
  }